@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #85CB85;
    font-family: 'REM', sans-serif;
    color: #1B5E64;
}

h1, h2, h3 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

#gh-btn {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 100px;
    background-color: #1B5E64;
    color: #85CB85;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#gh-btn:hover {
    background-color: #85CB85;
    color: #1B5E64;
    cursor: pointer;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
    font-size: 8rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

ul li:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

ul > li > a {
    color: #1B5E64;
    text-decoration: none;
}

@media (max-width: 960px) {
    h1, h2, h3 {
        font-size: 2.8rem;
    }
    img {
        width: 200px;
        height: 200px;
    }
    ul {
        font-size: 5rem;
    }
}

@media (max-width: 720px) {
    h1, h2, h3 {
        font-size: 2.5rem;
    }
    img {
        width: 150px;
        height: 150px;
    }
    ul {
        font-size: 3rem;
    }
}

@media (max-width: 540px) {
    h1, h2, h3 {
        font-size: 2rem;
    }
    img {
        width: 120px;
        height: 120px;
    }
    ul {
        font-size: 2rem;
    }
}